.product-card-container {
  width: 295px;
  height: 408px;
  font-family: var(--font-family-primary-bold);
}

.product-image-container {
  width: 295px;
  height: 298px;
  border-radius: 20px;
}

.product-name {
  font-size: var(--font-size-lg);
  margin-top: 16px;
}

.rating-container {
  display: flex;
  padding: 8px;
}

.half-star {
  overflow: hidden;
  clip-path: inset(0 50% 0 0);
}

.rating-number {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-sm);
}

.discount-price {
  opacity: 0.4;
}

.price-container {
  display: flex;
  gap: 10px;
  font-size: var(--font-size-xl);
  align-items: center;
}

.discount-percent {
  font-family: var(--font-family-primary-medium);
  font-size: var(--font-size-xs);
  color: var(--color-warm);
  background-color: rgba(255, 51, 51, 0.1);
  padding: 6px 14px;
  border-radius: 62px;
}
