.icon {
  width: 24px;
  height: 24px;
  border-radius: 0;
  background-color: transparent;
  border: none;
}

/* Classification by icon shape */
.icon-circle {
  border-radius: 50%;
  padding: 8px;
}

.icon-rectangle {
  width: 35px;
  height: 15px;
  padding: 10px 7px;
  background-color: var(--color-primary);
  border-radius: 5px;
}

/* Classification by icon size */
.icon-sm {
  width: 12px;
  height: 12px;
}

.icon-md {
  width: 16px;
  height: 16px;
}

.icon-lg {
  width: 20px;
  height: 20px;
}

/* Classification by icon background */
.icon-dark {
  background-color: var(--color-dark);
}

.icon-light {
  background-color: var(--color-secondary);
}

/* Classification by icon transparency*/
.icon-blur {
  opacity: 0.4;
}

/* Classification by icon border*/
.icon-outline {
  border: solid 0.5px var(--color-secondary);
}
