.icon {
	width: 24px;
	height: 24px;
	border-radius: 0;
	background-color: transparent;
	border: none;
}

.icon-sm {
	width: 20px;
	height: 20px;
}

.icon-md {
	width: 28px;
	height: 28px;
	border-radius: 62px;
}

.icon-lg {
	width: 32px;
	height: 32px;
	border-radius: 62px;
}

.icon-xl {
	width: 40px;
	height: 26px;
}

.icon-blur {
	opacity: 0.4;
}
