.input {
  border: solid var(--color-secondary);
  background-color: transparent;
  outline: none;
  width: 100%;
  padding: 16px 14px;
  border-radius: 6px;
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-md);
}

.input-transparent {
  border: none;
  font-size: var(--font-size-sm);
  padding: 5px 0;
}
