.input {
  border: solid var(--color-secondary);
  background-color: transparent;
  outline: none;
  width: 100%;
  padding: 16px 14px;
  border-radius: 6px;
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-md);
  box-sizing: border-box;
}

.input-icon-label {
  display: flex;
  align-items: center;
  border-radius: 62px;
  padding-left: 16px;
  opacity: 40%;
}

.input-icon-label-accent-bg {
  background-color: var(--color-secondary);
}

.input-sm {
  font-size: var(--font-size-sm);
  padding: 5px 0;
}

.input-none-border {
  border: none;
}

.input-image-container {
  width: 22px;
  height: 22px;
}
