.header {
	padding: 20px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
  font-family: var(--font-family-primary);
}

.logo {
	width: 128px;
	height: 18px;
}

.pointer {
	cursor: pointer;
}

.cart {
	margin: 0 12px;
}

.nav-container {
	display: flex;
  align-items: center;
}

.nav-links,
.input-header-label {
  display: none;
}

.section-divider {
  border: solid 1px;
  opacity: 10%;
	width: 84%;
}

@media only screen and (min-width: 768px) {
  .logo {
    width: 160px;
    height: 22px;
  }

  .nav {
    display: none;
  }

  .nav-links {
    display: flex;
    gap: 24px;
    margin-inline: 40px;
  }

  .link-item {
    text-decoration: none;
    color: var(--color-dark);
  }

  .link-item:hover {
    color: var(--color-light);
  }
}

@media only screen and (min-width: 1440px) {
  .header-search-icon {
    display: none;
  }

  .header-actions {
    width: 48px;
    display: flex;
    align-items: center;
    flex-grow: 1
  }

  .input-header-label {
    display: flex;
    width: 100%;
  }

  .cart {
    margin: 0 14px 0px 40px;
  }
}
