.header {
	padding: 20px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 128px;
	height: 18px;
}

.pointer {
	cursor: pointer;
}

.cart {
	margin: 0 12px;
}

.nav-container {
	display: flex;
}

.nav {
	border: none;
  background: none;
}

