.header-container {
	padding: 20px 0;
	justify-content: space-between;
  font-family: var(--font-family-primary);
  border-bottom: solid 1px var(--color-secondary);
}

.logo {
	height: 18px;
}

.cart {
	margin: 0 12px;
}

.nav {
	display: flex;
  align-items: center;
}

.nav-icon {
  margin-right: 16px;
}

.link-item {
  padding: 20px 0;
}

.nav-links,
.input-header-label {
  display: none;
}

@media only screen and (min-width: 768px) {
  .logo {
    width: 160px;
    height: 22px;
  }

  .nav-icon {
    display: none;
  }

  .nav-links {
    display: flex;
    gap: 24px;
    margin-inline: 40px;
  }

  .link-item {
    text-decoration: none;
    color: var(--color-dark);
  }

  .link-item:hover {
    color: var(--color-light);
  }
}

@media only screen and (min-width: 1440px) {
  .header-search-icon {
    display: none;
  }

  .header-actions {
    flex-grow: 1
  }

  .input-header-label {
    display: flex;
    width: 100%;
  }

  .cart {
    margin: 0 14px 0 40px;
  }
}
