.payment-method {
  flex-direction: column;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-sm);
  color: var(--color-third);
  padding-bottom: 77px;
}

.payment-method-icon-container {
  gap: 10px;
  margin-top: 16px;
}

/* Support desktop screen at min width 1440px*/
@media only screen and (min-width: 1440px) {
  .payment-method {
    flex-direction: row;
    justify-content: space-between;
  }

  .payment-method-icon-container {
    margin-top: 0;
  }
}
