.product-card-container {
  margin-top: 20px;
}

.product-card-container .product-card-actions {
  justify-content: space-between;
  margin-bottom: 20px;
}

.product-card-container .main-content-container {
  flex: 1;
}

.product-card-container .todo {
  display: none;
  width: 295px;
}

.product-card-container .product-card-container{
  margin-top: 20px;
}

.product-card-container .breadcrumb {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-sm);
}

.product-card-container .breadcrumb-link {
  opacity: 0.6;
  text-decoration: none;
  color: var(--color-dark);
  margin-right: 4px;
}

.product-card-container .icon-rotate {
  opacity: 0.6;
  width: 12px;
  height: 7px;
  transform: rotate(-90deg);
}

.product-card-container .breadcrumb-header {
  margin-left: 6px;
}

.product-card-container .product-header {
  font-family: var(--font-family-primary-bold);
  font-size: var(--font-size-xl);
}

.product-card-container .manage-product-actions {
  gap: 9px;
}

.product-card-container .product-container {
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(172px, 2fr));
  grid-auto-rows: minmax(257px, auto);
  place-items: center;
  gap: 14px;
  border-bottom: solid 1px var(--color-secondary);
}

.product-card-container .card-container {
  position: relative;
}

.product-card-container .btn-delete {
  position: absolute;
  top: 10px;
  right: 10px;
  background: var(--color-warm);
  color: var(--color-primary);
  border: none;
  border-radius: 50%;
  padding: 5px 8px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.product-card-container .pagination {
  margin-top: 20px;
  margin-bottom: 50px;
  justify-content: space-between;
  font-family: var(--font-family-primary-medium);
  font-size: var(--font-size-xs);
}

.product-card-container .previous-arrow-icon {
  margin-right: 8px;
}

.product-card-container .next-arrow-icon {
  margin-left: 8px;
  transform: rotate(180deg);
}

.product-card-container .page-link {
  text-decoration: none;
  color: var(--color-dark);
}

.product-card-container .page-item {
  opacity: 0.5;
  padding: 8px;
}

.product-card-container .previous-arrow,
.next-arrow {
  padding: 8px;
  border: solid 1px var(--color-secondary);
  border-radius: 8px;
}

.card-container:hover {
  opacity: 0.8;
  box-shadow: 5px 5px rgba(245, 245, 245, 0.986);
  border-radius: 20px;
  cursor: pointer;
}

.product-card-container .card-container:hover .btn-delete {
  opacity: 1;
}

.product-card-container .page-item:hover {
  opacity: 1;
  border: solid 1px transparent;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: var(--color-secondary);
}

@media only screen and (min-width: 1440px) {
  .product-card-container .todo {
    display: flex;
    margin-right: 20px;
  }

  .product-card-container .breadcrumb-header {
    margin-left: 12px;
  }

  .product-card-container .product-container {
    grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
    grid-auto-rows: minmax(408px, auto);
    gap: 14px;
  }

  .page-list .page-item {
    padding: 10px 15px;
  }

  .icon-filter {
    display: none;
  }
}
